
<%= link_to 'Back', pics_path %>

<div class ="row">
	<div class = "col-md-offset-2 col-md-8">
		<div class= 'panel panel-default'>
			<div class = "panel-heading center">
				<%= image_tag @pic.image.url(:medium) %>
			</div>
			<div class = 'panel-body' align = 'center'>
				<p>
	  			<%= @pic.description %>
				</p>
				<p><strong> <%= @pic.user.username if @pic.user %></strong></p>

				<% if current_user.try(:admin?) %>
					<%= link_to 'Edit', edit_pic_path(@pic) %>
				<% end%>
			</div>
		</div>
	</div>
</div>

<%=render partial: 'pics/comments', locals: {commentable: @pic}%>
<%=render partial: 'pics/formcomments', locals: {commentable: @pic}%>



