<p id="notice"><%= notice %></p>
<%= link_to 'Back', pics_path %>

<div class ="row">
	<div class = "col-md-offset-2 col-md-8">
		<div class= 'panel panel-default'>
			<div class = "panel-heading center">
				<%= image_tag @pic.image.url, width: '700' %>
			</div>
			<div class = 'panel-body' align = 'center'>
				<p>
	  			<%= @pic.description %>
				</p>
				<p><strong> <%= @pic.user.email if @pic.user %></strong></p>

				<% if current_user == @pic.user %>
					<%= link_to 'Edit', edit_pic_path(@pic) %>
				<% end%>
			</div>
		</div>
	</div>
</div>

