<!DOCTYPE html>
<html>
<head>
  <title>MyWebsite</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!---for mobile devices use viewport -->
  <meta name= "viewport" content="width=device-width, initial-scale=1.0">  
</head>
<body>
	<%= render 'layouts/header' %>
	<div class="container">

    <!--for each flash (messaged displayed once) do something -->
    <!--equals sign used to display things on the page-->
    <% flash.each do |name, msg|%> 
      <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>
		<%= yield %>
	</div>

</body>
</html>
